#===================================================================================================================================================
#### Configuration du bootstrap du cluster worker node avec kubeadm
## https://github.com/kubernetes-sigs/cluster-api/blob/main/bootstrap/kubeadm/config/crd/bases/bootstrap.cluster.x-k8s.io_kubeadmconfigtemplates.yaml 
#====================================================================================================================================================

apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfig
metadata:
  name: capg-kubeadm-worker
  namespace: capg-management-clusterclass
spec:
  version: v1.34.3
  replicas: 2
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
      kind: GCPMachineTemplate
      name: capg-machine-worker
  preKubeadmCommands:
    - hostnamectl set-hostname "${{ local_hostname }}"
    - | 
      echo "[preKubeadmCommands] Start /etc/hosts configuration !"
      IPV4="{{ ds.meta_data["local_ipv4"] }}"
      HOSTNAME="${{ local_hostname }}"
      if ! grep -q "$HOSTNAME" /etc/hostnames
        echo "[preKubeadmCommands] $IPV4 $HOSTNAME" >> /etc/hosts
        echo "[preKubeadmCommands] Added $IPV4 $HOSTNAME to /etc/hosts done !"
      else
        echo "[preKubeadmCommands] $HOSTNAME already exist on /etc/hosts"
      fi
      echo "[preKubeadmCommands] End /etc/hosts configuration !"
  joinConfiguration:
    nodeRegistration:
      criSocket: unix:///var/run/containerd/containerd.sock
      kubeletExtraArgs:
        cloud-provider: external
        container-log-max-files: "5"
        container-log-max-size: "50Mi" 
        cgroup-driver: systemd
        max-pods: "110"
      name: '{{ ds.meta_data["local_hostname"] }}'
          
  postKubeadmCommands:
    - |
      NODE_NAME=$(hostname)
      echo "[postKubeadmCommands] Wait node added to the cluster"
      until kubectl --kubeconfig /etc/kubernetes/admin.config get node $NODE_NAME >/dev/null 2>&1; do
        echo "[postKubeadmCommands] wait for node added"
        sleep 5
      done

      echo "[postKubeadmCommand] Waiting for node $NODE_NAME to become ready"
      until kubectl --kubeconfig /etc/kubernetes/admin.conf get node $NODE_NAME -o jsonpath='{.status.conditions[?(@.type=="Ready")].status}' | grep -q "True"; do
        echo "[postKubeadmiCommands] Node not ready yet !"
        sleep 5
      done

      echo "[postKubeadmCommands] Node is Ready. Removing taint if it exists..."
      kubectl --kubeconfig /etc/kubernetes/admin.conf taint nodes $NODE_NAME node.cloudprovider.kubernetes.io/uninitialized:NoSchedule- || true
      echo "[postKubeadmCommands] Completed taint removal process."